<!DOCTYPE html>
<html ng-app="TaskManagerApplication">
<head>
  <meta charset="utf-8">
  <title>Myfirstapp</title>
  <base href="/">
   <script src="libs/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
   <script src="app/menu/app.js"></script>
    <script src="app/menu/localTasksService.js"></script>
    <script src="app/menu/TasksController.js"></script>
	<style>
table, th , td  {
  border: 0px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
label{
font-weight:bold;
}
</style>
</head>
<body  ng-controller="TasksController">

<div ng-app="" style="margin-top: 40px; margin-left: 80px;">
<h5 ng-hide="editTask != null || showme">Add Task</h5>
<h5 ng-show="editTask != null">Update Task</h5>
<h5 ng-show="showme && editTask==null">View Task</h5>
<div><h4>Task Manager</h4>
  <div class="row">
   <div class="col-xs-12">
	<B><a href="" ng-click="showme=false;searchdata=false;editTask=null;">AddTask</a></B>&nbsp;&nbsp;
	<B><a href="" ng-click="showme=true;searchdata=false;editTask=null;">ViewTask</a></B>
  </div>
 </div>
<div id="AddTaskDiv" ng-hide="showme">
<div ng-hide="editTask != null">
    <form name="frmAddTask" novalidate ng-submit="addTask(frmAddTask)" class="form-inline">
		 <Table style="width:300px;">
		   <TR>
				<TD><label for="InputTask"> Task: </label></TD>
				<TD><input type="text" id="InputTask" class="form-control"></TD>
			</TR>
			 <TR>
				<TD><label for="InputTask"> Priority: </label></TD>
				<TD><input type="range" id="InputTask" class="form-control" min="0" max="100" step="10" value="30" ></TD>
			</TR>
			 <TR>
				<TD><label for="InputParentTask"> Parent Task: </label></TD>
				<TD><input type="text" id="InputParentTask" class="form-control"></TD>
			</TR>
			 <TR>
				<TD><label for="InputStartDate"> Start Date: </label></TD>
				<TD><input type="text" id="InputStartDate" class="form-control"></TD>
			</TR>
			 <TR>
				<TD><label for="InputEndDate"> End Date: </label></TD>
				<TD><input type="text" id="InputEndDate" class="form-control"></TD>
			</TR>
			<TR>
				<TD><label for="InputEndDate"></label></TD>
				<TD><input type="submit" class="btn btn-success" value="Add Task">&nbsp;&nbsp;&nbsp;
				<input type="button" class="btn btn-success" value="Reset">
				</TD>
			</TR>
		</Table>
	</form>
</div>
</div>
<div ng-show="editTask != null">
 <form class="form-inline" name="frmEditTask" novalidate>
    <input type="hidden" ng-model="editTask.ID" />
	 <Table style="width:300px;">
	   <TR>
			<TD><label for="InputTask"> Task: </label></TD>
			<TD><input type="text" id="InputTask" class="form-control" ng-model="editTask.TaskName"></TD>
		</TR>
		 <TR>
			<TD><label for="InputTask"> Priority: </label></TD>
			<TD><input type="range" id="InputTask" class="form-control" min="0" max="100" step="10" value="30" ng-model="editTask.Priority" ></TD>
		</TR>
		 <TR>
			<TD><label for="InputParentTask"> Parent Task: </label></TD>
			<TD><input type="text" id="InputParentTask" class="form-control" ng-model="editTask.ParentTask"></TD>
		</TR>
		 <TR>
			<TD><label for="InputStartDate"> Start Date: </label></TD>
			<TD><input type="text" id="InputStartDate" class="form-control" ng-model="editTask.StartDate"></TD>
		</TR>
		 <TR>
			<TD><label for="InputEndDate"> End Date: </label></TD>
			<TD><input type="text" id="InputEndDate" class="form-control" ng-model="editTask.EndDate"></TD>
		</TR>
		<TR>
			<TD><label for="InputEndDate"></label></TD>
			<TD><input type="submit" class="btn btn-success" value="Update">&nbsp;&nbsp;&nbsp;
			<input type="button" class="btn btn-warning" value="Cancel" ng-click="showme=true;searchdata=false;editTask=null;">
			</TD>
		</TR>
	</Table>						
</form>
</div>

<div id="ViewTaskDiv" ng-show="showme && editTask == null">
 <Table style="width:900px;border:0;padding:0px;">
   <TR>
		<TD style="width:140px;"><label for="SearchTask">Task:</label></TD>
		<TD colspan="3" style="width:300px;"><input type="text" id="SearchTask" class="form-control" style="width:270px;"></TD>
		<TD style="width:115px;"><label for="SearchParentTask">Parent Task:</label></TD>
		<TD colspan="3" style="width:290px;"><input type="text" id="SearchParentTask" class="form-control" style="width:315px;"></TD>
		<TD>&nbsp;</TD>
	</TR>
	<TR>
		<TD style="width:140px;"><label for="SearchPriorityFrom"> Priority From: </label></TD>
		<TD style="width:80px;"><input type="text" id="SearchPriorityFrom" class="form-control" style="width:80px;"></TD>
		<TD style="width:85px;"><label for="SearchPriorityTo"> Priority To: </label></TD>
		<TD style="width:80px;"><input type="text" id="SearchPriorityTo" class="form-control" style="width:80px;"></TD>
		<TD style="width:115px;"><label for="SearchStartDate"> Start Date: </label></TD>
		<TD style="width:100px;"><input type="text" id="SearchStartDate" class="form-control" style="width:100px;"></TD>
		<TD style="width:80px;"><label for="SearchEndDate"> End Date: </label></TD>
		<TD style="width:100px;"><input type="text" id="SearchEndDate" class="form-control" style="width:100px;"></TD>
		<TD><input type="button" class="btn btn-primary" value="Search" ng-click="searchdata=true"></TD>
	</TR>
</Table>
</div>
<br />
<div ng-show="searchdata && editTask == null">
<p ng-hide="Tasks.length > 0">No Tasks available</p>
 <table class="table table-striped" ng-show="Tasks.length > 0">
                    <thead>
                        <tr>
                            <th>
                                Task
                            </th>
                            <th>
                                Parent
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Start
                            </th>
							<th>
                                End
                            </th>
                            <th>
								Action
                            </th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr ng-repeat="item in Tasks">
                            <td>
                               {{item.TaskName}}
                            </td>
                            <td>
                                {{item.ParentTask}}
                            </td>
                            <td>
                               {{item.Priority}}
                            </td>
                            <td>
                               {{item.StartDate}}
                            </td>
							  <td>
                               {{item.EndDate}}
                            </td>
                            <td>
                                <input type="Button" class="btn btn-info"
                                       value="Edit" ng-click="setEditTask(item);searchdata=false;showme=false;"> &nbsp;&nbsp;
								<input type="Button" class="btn btn-danger"
                                       value="End Task" ng-click="setendTask(item);">
                            </td>

                        </tr>
                    </tbody>
                </table>
</div>

 </div>
</body>
</html>